/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/

.hamburger {
  display: block;
  margin: .75em;
  position: relative;
  width: 28px;
  height: 28px;
  background: #404040;
  -webkit-transition: background 0.2s ease-in-out;
}

.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  -webkit-transition-property: transform, top;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transform: translateZ(0);
}

.hamburger:after {
  top: 60%;
}

.toggled .hamburger {
  background-color: black;
  &:before, &:after {
    top: 40%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media screen and (min-width: 600px) {
	.hide-text.menu-toggle.hamburger{
		display: none;
	}
}
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: #404040;
	text-decoration: none;
}
a:visited {
	color: #404040;
}
a:hover,
a:focus,
a:active {
	color: #666;
	text-decoration: underline;
}
.moretag{
	color: #203E94;
	&:visited{
		color: #203E94;
	}
	&:hover{
		color: #666;
	}
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: inline-block;
	float: left;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	&:hover{
		color: #AFBBDD;
	}
}
.main-navigation ul ul {
	//box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 2.5em;
	z-index: 99999;
	background-color: rgba(0,0,0, 0.5);
	a{
		color: #fff;
	}
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}
/* Small menu */
.menu-toggle {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
	.main-navigation li{
		float: none;
	}
	.main-navigation ul ul{
		position: static;
		display: block;
		float: none;
	}

}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1em auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}
//SEARCH TOGGLE BUTTON 56.25em
@media (min-width: 56.25em) {
	// .site-header .search-box-wrapper{
	// 	top: 110px !important;
	// }
	.search-box .search-field{
		width: 90% !important;
	}

}
@media (min-width: 43.75em) {
	// .site-header .search-box-wrapper{
	// 	top: 105px;
	// }
	.search-box .search-field{
		width: 60% !important;
	}
}
@media (min-width: 600px) and (max-width: 43.75em) {
	// .site-header .search-box-wrapper{
	// 	top: 80px;
	// }
}
.search-toggle {
	background-color: #fff;
	cursor: pointer;
	float: right;
	height: 32px;
	text-align: center;
	width: 32px;
	margin-top: 10px;
	.fa-search{
		color: #AFBBDD;
		font-size: 24px;
	}
}
.search-box-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	right: 0;
	width: 100%;
	z-index: 2;
}
.search-box-wrapper{
	//padding-left: 222px;
}
.search-box {
	background-color: rgba(175, 187, 221, 0.41);
	padding: 10px;
	.search-field {
		background-color: #fff;
		border: 0px;
		font-size: 16px;
		padding: 2px 2px 3px 6px;
		width: 60%;
		border-radius: 0;
	}
}
input[type="submit"] {
	background-color: rgba(175, 187, 221, 1);
	border: 0;
	border-radius: 2px;
	color: #404040;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 30px 11px;
	text-transform: uppercase;
	vertical-align: bottom;
}
.search-submit {
	display: none;
}
.hide {
	display: none;
}
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
header#masthead {
	border-bottom: 2px solid #AFBBDD;
	//margin-bottom: 40px;
	position: relative;
}
.photo-index{
	margin: 10px;
}
@media (max-width: 35em) {
	.photo-index{
		width: 100% !important;
	}
	.wpcf7-form-control{
		width: 95%;
	}
}
.social{
	float: right;
	margin-top: -30px;
}
#page{
	margin: .75em;
}
.photo-item figure.index-photo{
	.img-hover{
		webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
		position: absolute;
		top: 0;
		left: 0;
		border: 5px solid #fff;
		opacity: 0;
		min-height: 100%;
		width: 100%;
		&:hover{
			opacity: 1;
		}
	}
}
@media screen and (max-width: 600px) {
	.index-photo{
		figcaption{
			position: static;
		}
	}
}
.index-photo{
	figcaption{
		position: absolute;
		bottom: 10%;
		left: 5%;
		color: #f2f2f2;
		text-shadow: 0 0 20px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.8), 0 0 40px black;
		&:hover{
			color: #CACDD4;
		}
	}
}
#content{
	position: relative;
}
// above 900px
@media (min-width: 56.25em) {
	#page{
		max-width: 1200px;
		margin: 0 auto;
	}
	img.attachment-single-thumb.wp-post-image {
		margin: 15px auto;
		display: block;
	}
	.home{
		#content {
			margin: 0 auto;
		}
	}
	#content {
		margin: 0 1em;
	}
} // END OF 56.25em MQ
// above  above 700px
@media (min-width: 43.75em) {

}
.isFront .type-post{
	max-width: 290px;
	padding: 0 10px 10px 10px;
	h1.entry-title{
		font-size: 2em;
	}
}
.site-title{
  display: inline-block;
  a:hover{
    text-decoration: none;
  }
}
.site-info{
	float: right;
}
.post-type-archive-photo{
	#content {
		margin: 2em 0;
	}
	.photo-index{
		width: 100% !important;
		margin: 2em 0;
	}
}
@media screen and (max-width: 600px) {
	.content-area{
		main#main{
			//width: 100% !important;
			article{
				//width: 100% !important;
				//margin: 0 auto;
				.photo-item{
					//position: static !important;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.hentry {
	margin: 0 0 0em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-meta{
	font-size: .85em;
	font-weight: 300;
	margin: 0 0 .5em;
}
/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}
#swipebox-overlay{
	background-color: rgba(13,13,13, .90);
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	//text-align: center;
}
.wp-caption .wp-caption-text {
	//margin: 0.8075em 0;
}

.gallery-caption {
	position: absolute;
	bottom: 10%;
	left: 5%;
	color: #f2f2f2;
	font-size: 12px;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.8), 0 0 40px black;
	&:hover{
		color: #CACDD4;
	}
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
//  above 700px
@media (min-width: 35em) {
	.entry-content .gallery-columns-9 .gallery-item,
	.entry-content .gallery-columns-8 .gallery-item,
	.entry-content .gallery-columns-7 .gallery-item,
	.entry-content .gallery-columns-6 .gallery-item {
		max-width: 32.33%;
	}
	.entry-content .gallery-columns-5 .gallery-item {
		max-width: 19%;
	}
	.entry-content .gallery-columns-4 .gallery-item {
		max-width: 24%;
	}
	.entry-content .gallery-columns-3 .gallery-item {
		max-width: 32.33%
	}
	.entry-content .gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
}
// above 900px
@media (min-width: 50em) {
	.entry-content .gallery-columns-9 .gallery-item,
	.entry-content .gallery-columns-8 .gallery-item,
	.entry-content .gallery-columns-7 .gallery-item,
	.entry-content .gallery-columns-6 .gallery-item {
		max-width: 15.66%;
	}
	.entry-content .gallery-columns-5 .gallery-item {
		max-width: 19%;
	}
	.entry-content .gallery-columns-4 .gallery-item {
		max-width: 24%;
	}
	.entry-content .gallery-columns-3 .gallery-item {
		max-width: 32.33%;
	}
	.entry-content .gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
}
.gallery {
	margin: 0 5px 0 5px;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 100%;
}
.gallery-columns-3 .gallery-item {
	max-width: 100%;
}
.gallery-columns-4 .gallery-item {
	max-width: 100%;
}
.gallery-columns-5 .gallery-item {
	max-width: 100%;
}
.gallery-columns-6 .gallery-item {
	max-width: 100%;
}
.gallery-columns-7 .gallery-item {
	max-width: 100%;
}
.gallery-columns-8 .gallery-item {
	max-width: 100%;
}
.gallery-columns-9 .gallery-item {
	max-width: 100%;
}



/**
 * -------------
 * MEDIA QUERIES
 * --------------
 */
// below 800px
@media (max-width: 50em) {
	.site-content .widget-area {
		width: 100%;
	}
	.site-main {
		margin: 0 0 1.5em 0;
	}
}